<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 2</a></span><ul class="toc-item"><li><span><a href="#Problem-Solving-Iteration-1" data-toc-modified-id="Problem-Solving-Iteration-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Problem Solving Iteration 1</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed." data-toc-modified-id="The-Total-field-is-computed-based-on-HP,-Attack,-Defense,-Sp.-Atk,-Sp.-Def,-and-Speed.-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>The <code>Total</code> field is computed based on <code>HP</code>, <code>Attack</code>, <code>Defense</code>, <code>Sp. Atk</code>, <code>Sp. Def</code>, and <code>Speed</code>.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-2" data-toc-modified-id="Problem-Solving-Iteration-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Problem Solving Iteration 2</a></span><ul class="toc-item"><li><span><a href="#Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?" data-toc-modified-id="Which-pokemon-type-is-most-likely-to-have-the-highest-Total-value?-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Which pokemon type is most likely to have the highest <code>Total</code> value?</a></span><ul class="toc-item"><li><span><a href="#Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type." data-toc-modified-id="Type-1-and-Type-2-string-variables-need-to-be-converted-to-numerical-variables-in-order-to-identify-the-relationship-between-Total-and-the-pokemon-type.-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span><code>Type 1</code> and <code>Type 2</code> string variables need to be converted to numerical variables in order to identify the relationship between <code>Total</code> and the pokemon type.</a></span></li><li><span><a href="#How-to-convert-two-string-variables-to-numerical?" data-toc-modified-id="How-to-convert-two-string-variables-to-numerical?-1.2.1.2"><span class="toc-item-num">1.2.1.2&nbsp;&nbsp;</span>How to convert two string variables to numerical?</a></span></li><li><span><a href="#In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create." data-toc-modified-id="In-the-next-cell,-use-One-Hot-Encoding-to-encode-Type-1-and-Type-2.-Use-the-pokemon-type-values-as-the-names-of-the-numerical-fields-you-create.-1.2.1.3"><span class="toc-item-num">1.2.1.3&nbsp;&nbsp;</span>In the next cell, use One Hot Encoding to encode <code>Type 1</code> and <code>Type 2</code>. Use the pokemon type values as the names of the numerical fields you create.</a></span></li></ul></li></ul></li><li><span><a href="#Problem-Solving-Iteration-3" data-toc-modified-id="Problem-Solving-Iteration-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Problem Solving Iteration 3</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations." data-toc-modified-id="There-are-relationships-between-Total-and-the-encoded-pokemon-type-variables-and-we-need-to-identify-the-correlations.-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>There are relationships between <code>Total</code> and the encoded pokemon type variables and we need to identify the correlations.</a></span></li><li><span><a href="#How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?" data-toc-modified-id="How-to-identify-the-relationship-between-Total-and-the-encoded-pokemon-type-fields?-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>How to identify the relationship between <code>Total</code> and the encoded pokemon type fields?</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Bonus-Question" data-toc-modified-id="Bonus-Question-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bonus Question</a></span></li></ul></div>

# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset from Ironhack's database
pokemon_df=pd.read_csv('Pokemon.csv')

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
pokemon_df["New total"] = (pokemon_df["HP"] + pokemon_df["Attack"] + pokemon_df["Defense"] + pokemon_df["Sp. Atk"] + pokemon_df["Sp. Def"] + pokemon_df["Speed"])

pokemon_df["Total Hypothesis"] = (pokemon_df["New total"] == pokemon_df["Total"])

pokemon_df.loc[pokemon_df["Total Hypothesis"] == True].count()
#returns 800 rows, so the hypothesis is true

#                   800
Name                800
Type 1              800
Type 2              414
Total               800
HP                  800
Attack              800
Defense             800
Sp. Atk             800
Sp. Def             800
Speed               800
Generation          800
Legendary           800
New total           800
Total Hypothesis    800
dtype: int64

Comment: Yeah, Total is just a sum of all those columns

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
#pokemon_df.loc[(pokemon_df['Type 1'].notna() & pokemon_df['Type 2'].notna()), "Combo Type"] = pokemon_df["Combo Type"] = pokemon_df['Type 1']+'-'+pokemon_df['Type 2']
#pokemon_df.loc[(pokemon_df['Type 1'].notna()) & (pokemon_df['Type 2'].isna()), "Combo Type"] = pokemon_df['Type 1']
#pokemon_df.loc[(pokemon_df['Type 1'].isna()) & (pokemon_df['Type 2'].notna()), "Combo Type"] = pokemon_df['Type 2']
#pokemon_df

#hot_pokemon_types = list(all_types)

In [6]:
#One-hot encoding of both Type Series:

one_hot_pokemon_df = pd.get_dummies(pokemon_df["Type 1"])+pd.get_dummies(pokemon_df["Type 2"])

one_hot_pokemon_df = one_hot_pokemon_df

one_hot_pokemon_df

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
796,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
797,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
798,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
799,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [9]:
#Concatenate both DataFrames, don't forget to set the axis parameter, otherwise it will concatenate along the wrong axis, returning 1600 rows with NaN values for the one-hot encoding series.

hotter_pokemon_df = pd.concat([pokemon_df, one_hot_pokemon_df], axis=1)

hotter_pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,1,0,0,0,1,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,1,0,0,0,1,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,1,0,0,0,1,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,1,0,0,0,1,0,0,0,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,...,0,0,0,0,0,0,0,1,0,0
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,...,0,0,0,0,0,0,0,1,0,0
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,...,1,0,0,0,0,0,1,0,0,0
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,...,0,0,0,0,0,0,1,0,0,0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,...,0,0,0,0,0,0,0,0,0,1

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [31]:
hotter_pokemon_df.groupby("Ghost")["Total"].mean()

#this retuns a DataFrame with the mean for TOTAL for all Pokémon of Ghost type: 436.869565	vs 434.994695 for non Ghost types.
#but how do I find the mean for each Type without having to compute each of them separately?

Ghost
0    434.994695
1    436.869565
Name: Total, dtype: float64

In [48]:
#First let's isolate the line where Type = 1

ghost_total_mean_df = hotter_pokemon_df.groupby("Ghost")["Total"].mean()
ghost_total_mean_df[1]

436.8695652173913

In [19]:
#Let's take back our Types list from Challenge1:

df_type1 = pd.DataFrame(pokemon_df["Type 1"].sort_values().dropna().unique())
df_type2 = pd.DataFrame(pokemon_df["Type 2"].sort_values().dropna().unique()) 
all_types = df_type1.merge(df_type2, how="outer")
all_types

           0
0        Bug
1       Dark
2     Dragon
3   Electric
4      Fairy
5   Fighting
6       Fire
7     Flying
8      Ghost
9      Grass
10    Ground
11       Ice
12    Normal
13    Poison
14   Psychic
15      Rock
16     Steel
17     Water

In [22]:
#convert the Types DataFrame into a list
all_types_list = list(all_types[0])
all_types_list

['Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water']

In [49]:
#Let's iterate through the list to get the Total mean of each type

for type in all_types_list:
    print(hotter_pokemon_df.groupby(type)["Total"].mean())

#this returns DataFrames with the Total mean

Bug
0    440.598901
1    379.527778
Name: Total, dtype: float64
Dark
0    433.345794
1    460.901961
Name: Total, dtype: float64
Dragon
0    427.992
1    541.760
Name: Total, dtype: float64
Electric
0    434.453333
1    444.840000
Name: Total, dtype: float64
Fairy
0    436.111842
1    415.925000
Name: Total, dtype: float64
Fighting
0    432.618474
1    470.113208
Name: Total, dtype: float64
Fire
0    432.319293
1    467.109375
Name: Total, dtype: float64
Flying
0    432.396280
1    453.831683
Name: Total, dtype: float64
Ghost
0    434.994695
1    436.869565
Name: Total, dtype: float64
Grass
0    437.417021
1    417.926316
Name: Total, dtype: float64
Ground
0    434.556617
1    441.074627
Name: Total, dtype: float64
Ice
0    433.489501
1    467.447368
Name: Total, dtype: float64
Normal
0    439.929799
1    402.068627
Name: Total, dtype: float64
Poison
0    438.245257
1    397.693548
Name: Total, dtype: float64
Psychic
0    429.780282
1    477.088889
Name: Total, dtype: float64
Rock
0    434.005391
1    449.137931
Name: Total, dtype: float64
Steel
0    431.743009
1    486.591837
Name: Total, dtype: float64
Water
0    436.225519
1    429.095238
Name: Total, dtype: float64

In [63]:
#Create a DataFrame for the total means:

pokemon_total_df = pd.DataFrame(columns=["Type", "Total_mean"])

# Iterate through the list of all types:

for type in all_types_list:

    # Compute the mean of 'Total' for each value of the current type
    group_df = hotter_pokemon_df.groupby(type)["Total"].mean()

    # This returns a dataframe with total mean for Pokémon of that type (1) and for non-type Pokémons (0).
    # In this dataframe, keep only the total mean for Pokémons of the required type (1)
    # group_df[1] returns that wanted value

    # Define the new row to be added, with total mean of the type
    new_type = {'Type': type, 'Total_mean': group_df[1]}
 
    # Use the loc method to add the new row to the DataFrame
    pokemon_total_df.loc[len(pokemon_total_df)] = new_type

#Sort our Dataframe to find the Type that have the best Total mean:
pokemon_total_df = pokemon_total_df.sort_values("Total_mean", ascending=False)

pokemon_total_df

        Type  Total_mean
2     Dragon  541.760000
16     Steel  486.591837
14   Psychic  477.088889
5   Fighting  470.113208
11       Ice  467.447368
6       Fire  467.109375
1       Dark  460.901961
7     Flying  453.831683
15      Rock  449.137931
3   Electric  444.840000
10    Ground  441.074627
8      Ghost  436.869565
17     Water  429.095238
9      Grass  417.926316
4      Fairy  415.925000
12    Normal  402.068627
13    Poison  397.693548
0        Bug  379.527778

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [67]:
#Among the best Types as seen above, let's check if there are Pokémons combining both of the best types (Dragon & Steel)

hotter_pokemon_df.loc[(hotter_pokemon_df["Dragon"] == 1) & (hotter_pokemon_df["Steel"] == 1)]

#There is indeed a result, but only one Pokémon, "Dialga", who would be our best option.
# f there is no such available Pokémon, let's check if there is any matching the following best type.

hotter_pokemon_df[(hotter_pokemon_df["Dragon"] == 1) & (hotter_pokemon_df["Steel"] == 1) | (hotter_pokemon_df["Dragon"] == 1) & (hotter_pokemon_df["Psychic"] == 1)]

#If no Dragon / Steel Pokémon is available, we would turn to a Pokémon combining Dragon / Psychic types, i.e. "Latias" or "Latios".

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,...,0,0,0,0,0,0,1,0,0,0
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,...,0,0,0,0,0,0,1,0,0,0
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,...,0,0,0,0,0,0,1,0,0,0
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,...,0,0,0,0,0,0,1,0,0,0
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,...,0,0,0,0,0,0,0,0,1,0